{% extends 'base.html' %}

{% load i18n %}

{% block title %}Forums{% endblock title %}

{% block content%}

<div class="container p-2">
  
  <div class="container">
    <div class="row">
      <div class="col-sm-1 col-md-2"></div>
      <h3 class="col-12 col-sm-10 col-md-8">{% trans 'New subject: ' %}{{ forum }}</h3>
      <div class="col-sm-1 col-md-2"></div>
      <div class="col-sm-1 col-md-2"></div>
      <div class="col-12 col-sm-10 col-md-8">
        <form action="{% url 'create_subject' forum.slug %}" method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" class="btn btn-info" value="{% trans 'Submit' %}">
        </form>
      </div>
      <div class="col-sm-1 col-md-2"></div>
    </div>
  </div>
</div>

{% endblock content %}