{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="container mt-2">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6">
      <h2>{% trans "Password reset" %}</h2>
      <form method="post">
        <div class="form-group">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-info" type="submit">{% trans "Confirm my new password" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}